* {
    box-sizing: border-box;
}

.page-title {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    color: black;
}

h1 {
    font-size: clamp(3rem, 12vw + 1rem, 20rem);
    position: fixed;
    font-family: sans-serif;
    left: 0;
    rotate: -25deg;
    translate: 5% 30%;
    top: 0;
    margin: 0;
    line-height: 0.9;
    color: hsl(0 0% 70%);
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 50vh 0;
    /*   background: hsl(0 0% 10%); */
}

ul {
    grid-auto-flow: dense;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90vmin;
    list-style-type: none;
    gap: 1rem;
}

li {
    grid-column: span var(--span-x, 1);
    grid-row: span var(--span-y, 1);
    animation: enter both ease-in-out;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes enter {
    from {
        translate: 0 100%;
        scale: 0.25;
        opacity: 0.5;
    }
}

@keyframes exit {
    to {
        translate: 0 -15vh;
        opacity: 0.5;
    }
}

button {
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-radius: 1rem;
}

img {
    border-radius: 1rem;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

li:nth-of-type(1n) {
    --span-x: 1;
    --span-y: 2;
}

li:nth-of-type(2n) {
    --span-x: 2;
    --span-y: 2;
}

li:nth-of-type(3n) {
    --span-x: 1;
    --span-y: 3;
}

li:nth-of-type(2n + 1) {
    --span-x: 1;
    --span-y: 1;
}

li.full {
    --span-x: 4;
    --span-y: 4;
}


/* styles.css */


/* styles.css */

.image-button {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.caption {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    border-left: 1px solid rgba(128, 128, 128, 0.644);
    border-right: 1px solid rgba(128, 128, 128, 0.644);
    border-bottom: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 0 0 5px 5px;
    /* Adicionado para arredondar apenas a borda inferior */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}